body {
  background-color: #eaf6f6;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: #8d93ab;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

a:hover {
  background-color: gold;

}
